PUBLIC_IP=20.119.220.234
PUBLIC_BASE_URL=http://20.119.220.234
MQTT_DEVICE_ID=glasses01
TZ=America/New_York

# Set to false after adding a valid OPENAI_API_KEY.
AI_MOCK_MODE=false
OPENAI_API_KEY=place your own key here or true on mock mode.
OPENAI_TRANSCRIBE_MODEL=gpt-4o-mini-transcribe
OPENAI_REASONING_MODEL=gpt-4.1-mini
OPENAI_TTS_MODEL=gpt-4o-mini-tts
OPENAI_TTS_VOICE=coral
OPENAI_TTS_INSTRUCTIONS=Speak clearly, slowly, and warmly for a wearable assistive device.
